{% extends "base.jinja" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}">
{% endblock styles %}

{% block content %}
<div class="container col s8">
  <div class="row">
    <nav class="authNav">
      <div class="nav-wrapper">
        <div class="col s8">
          <h3 class="brand-logo col s8">Zarejestruj się</h3>
        </div>
      </div>
    </nav>

  </div>
  <form action="/auth/register" method="POST" class="col s14">
  {{ form.hidden_tag() }}
    <div class="row">
      <div class="input-field hoverable col s6">
        <i class="material-icons prefix">account_circle</i>
        {{ form.username(size=30, class="validate", placeholder="Nazwa użytkownika") }}
      </div>
      <div class="input-field hoverable col s6">
        <i class="material-icons prefix">email</i>
        {{ form.email(size=30, class="validate", placeholder="Email") }}
      </div>
    </div>
    <div class="row">
      <div class="input-field hoverable col s6">
        <i class="material-icons prefix">vpn_key</i>
        {{ form.password(size=30, class="validate", placeholder="Hasło") }}
      </div>
      <div class="input-field hoverable col s6">
        <i class="material-icons prefix">replay</i>
        {{ form.confirm(size=30, class="validate", placeholder="Powtórz hasło") }}
      </div>
    </div>
    {{ form.submit(class="waves-effect waves-light btn right hoverable submit-button white-text") }}
  </form>

</div>
{% endblock content %}